/* import font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/* global styles */
main {
    padding: 30px 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin: 0;
}

/* top header */
body>header {
    text-align: center;
    padding: 20px;
    background-color: #2D8CFF;
    color: white;
}

body>header h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0;
}

/* my product card */
.product-card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.product-card h2 {
    background-color: #2D8CFF;
    color: white;
    padding: 15px;
    margin: 0;
    text-align: center;
    border-radius: 4px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.product-card img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    margin-bottom: 20px;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

/* order button */
#order-btn {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #2D8CFF;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.2s ease;
}

#order-btn:hover {
    background-color: #1e70d1;
}

/* Lukas' popup (do not touch) */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    transition: opacity .4s ease;
}

.popup.active {
    opacity: 1;
    pointer-events: auto;
}

#popupBox {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.fade {
    opacity: 0;
    transition: opacity .4s ease;
    pointer-events: none;
}

.fade.in {
    opacity: 1;
    pointer-events: auto;
}

#successMessage {
    text-align: center;
}

.popup button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #2D8CFF;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color .2s ease;
}
.popup button:hover{
     background-color: #1e70d1;
}

.inputBase {
    border: 1px solid lightsteelblue;
}

.inputWrong {
    border: 2px solid red;
}

.inputCorrect {
    border: 2px solid green;
}

.errorMessage {
    color: red;
}

#formError {
    color: red;
    margin-bottom: 15px;
    font-weight: bold;
}

.hidden {
    display: none;
}